@mixin title($black, $size, $letter-spacing, $transform) {
  color: $black;
  text-align: center;
  font-family: Montserrat;
  font-size: $size;
  font-style: normal;
  font-weight: 700;
  line-height: 75px; /* 187.5% */
  letter-spacing: $letter-spacing;
  text-transform: $transform;
  text-align: center;
  margin: 0;
}
